<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>학위수여 5</title>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <!--script src="http://localhost:80/src/graduation5/graduation5.js"></script-->
    <script src="../../js/5/graduation5.js"></script>
    <style>
        #form_selection {
            font-family: "굴림", gulim, arial, helvetica, sans-serif;
            text-align: center;
            width: 120px;
            height: 400px;
            top: 30px;
            right: 60px;
            position: absolute;
        }

        #chartdiv {
            width: 80%;
            height: 500px;
        }
    </style>
</head>

<body>
    <div id="chartdiv"></div>
    <form id="form_selection">
        <fieldset>
            <legend>학위수준</legend>
            <input type="radio" name="radio_degree" id="bachelor" onclick="clickFormSelection(type, name, id)"
                checked="checked">
            <label for='bachelor'>학사</label><br>
            <input type="radio" name="radio_degree" id="master" onclick="clickFormSelection(type, name, id)">
            <label for='masters'>석사</label><br>
            <input type="radio" name="radio_degree" id="phd" onclick="clickFormSelection(type, name, id)">
            <label for='phd'>박사</label><br>
        </fieldset>
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="radio_gender" id="all" onclick="clickFormSelection(type, name, id)"
                checked="checked">
            <label for='all'>모두</label><br>
            <input type="radio" name="radio_gender" id="man" onclick="clickFormSelection(type, name, id)">
            <label for='male'>남성</label><br>
            <input type="radio" name="radio_gender" id="woman" onclick="clickFormSelection(type, name, id)">
            <label for='female'>여성</label><br>
        </fieldset>
        <fieldset>
            <legend>전공별 검색</legend>
            <select id="select_major_class" onchange="clickFormSelection('select', id, this.value)">
                <option value="all" selected="selected">모든계열</option>
                //HS: Humanities and Social Sciences
                <option value="인문사회계열">인문사회계열</option>
                //NS: Natural Science
                <option value="자연과학계열">자연과학계열</option>
                //EN: ENgineering
                <option value="공학계열">공학계열</option>
                //AMP: Art, Music, Physical
                <option value="예체능계열">예체능계열</option>
                //MS: Medicine Science
                <option value="의학계열">의학계열</option>
            </select>
        </fieldset>
        <fieldset>
                <legend>검색 개수</legend>
                <select id="select_num_selected" onchange="clickFormSelection('select', id, this.value)">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50" selected="selected">50</option>
                    <option value="70">70</option>
                </select>
            </fieldset>
    </form>

    <script>
        //path of data file
        const path = "../../json/5/2019_graduation.json";

        //the variable in graduation5.js
        //option value of selection
        //degree: degree level. default: bachelor
        level["degree"] = getIdCheckedRadio("radio_degree");
        //gender: default: all
        level["gender"] = getIdCheckedRadio("radio_gender");
        //dep_class: class of major, for example, natural science, engineering, ...
        //           default: all
        level["major_class"] = getIdSelectedCheckbox("select_major_class");
        //num_selected: how many major show in columns
        //              default: 50
        level["num_selected"] = getIdSelectedCheckbox("select_num_selected");

        //load json file to 'data'
        var data = loadJSON(path);
        drawChart(data);

    </script>

</body>

</html>