<!DOCUTYPE html>
	<html>

	<head>
		<meta charset="utf-8">
		<title>경북대학교 IR센터</title>

		<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
		<script src="https://www.amcharts.com/lib/4/core.js"></script>
		<script src="https://www.amcharts.com/lib/4/charts.js"></script>
		<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
		<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.js"
			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
		
		<script src="../../js/3/graduation3.js"></script>

		

	</head>

	<style type="text/css">
	@import url('../../css/output_default.css');
	</style>

	<body>
		<div class="box1" id="wrapper">
			<form class>
				<br>
				<a href="https://www.knu.ac.kr" target="_blank"><b>경북대학교 홈페이지</b>
					<a href="../첫화면.html"><b>| 경북대학교 IR센터</a></b>
					<!--<a href = "로그인 화면.html">*/-->
					<div class="loginBox">
						<a href="첫화면.html">로그인　|　</a>
						<input type="text" value="" placeholder="Search this site">
						<input type="button" value="검색">
					</div>
			</form>
		</div>


		<div class = "bodyBox">

		
		<div id = "titleBox">
			<span id = "titleFont"><b>학위수여</b></span>
			<br><br>
			추가적인 정보를 보기 위해서 각 대시보드 페이지 위에 나타나는 메뉴박스들을 클릭하세요.<br>
		</div>
		
	
		<div id = "tableBox">
			<table cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<td style = "border-style: none; font-size : 30px">
						<a href = "학위수여_2_수여학위별.html">
						<span id = "black">◀</span>
						</a>
					</td>
					<td>
						<a href = "학위수여_1_요약.html"><span id = "black">요약</span></a>
					</td>
					<td>
						<a href = "학위수여_2_수여학위별.html"><span id = "black">수여학위별</span></a>
					</td>
					<td style = "background-color : #eeeeee">
						<a href = "학위수여_3_학위수여10.html"><span id = "black"><b>년도별<br>학위수여가 가장<br>많은 10개 전공</b>
						</span></a>
					</td>
					<td>
						<a href = "학위수여_4_학위수여20.html"><span id = "black">학위수여가 가장<br>많은 20개 전공</span></a>
					</td>
					<td>
                        <a href="학위수여_5_전공별성비.html"><span id="black">전공별 성비</span></a>
                    </td>
					<td>
                        <a href="학위수여_6_Explore.html"><span id="black">Explore the Data</span></a>
                    </td>
					
					<td style = "border-style: none; font-size : 30px">
					<a href = "학위수여_4_학위수여20.html">
					<span style = "color: black">▶</span>
					</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<hr style = "border-color: black">
		
		</div>
		
		<div id = "TOP">
		
		<div id = "summaryBox">
			<h2>학위수여가 가장 많은 10개 전공</h2>
			지난 10년동안 <span id = "blue">경북대학교의 지원자 수는 증가하는 추세</span>입니다.
			모집인원과 입학자 수는 대학수용력의 제한으로 훨씬 더 적은 범위 안에 있습니다.
		</div>
		<div id = "unitBox">
		(단위 : 명)
		</div>
		

		<div id="chartdiv1" class="chartdiv"> 그래프 3-1</div>
			<div class="legend" id="gotop" style="left:80%; top :40%">

				<br><br>
				<form>

					<span style="font-size: 20px"><b>학위수준별 검색</b></span><br>

					<input type="radio" id="T2" name="학위" value="within" checked="checked"
						onclick="checkRadioButton(name, id)" />학사<br>
					<input type="radio" id="T1" name="학위" value="total" onclick="checkRadioButton(name, id)" />석사<br>
					<input type="radio" id="T3" name="학위" value="over" onclick="checkRadioButton(name, id)" />박사<br><br>

					<span style="font-size: 20px"><b>성별 검색</b></span><br>
					<select name="menu" onchange="checkRadioButton(name, value)" style="width : 200px; height: 30px">
						<option value="total">(전체)</option>
						<option value="male">남자</option>
						<option value="female">여자</option>
						<br><br>
					</select>

				</form>

			</div>
			<script>
				var currentPosition = parseInt($("#gotop").css("top"));
				$(window).scroll(function () {
					var position = $(window).scrollTop();

					if (position > 750)
						$("#gotop").stop().animate({ "top": position + currentPosition - 300 + "px" }, 1000);
					else if (position < 300)
						$("#gotop").stop().animate({ "top": position + currentPosition + 40 + "px" }, 1000);
					else
						$("#gotop").stop().animate({ "top": position + currentPosition + "px" }, 1000);
				});

			</script>
			<br>
			<div id="summaryBox">
				<h2>2018학년도에 학위수여자가 가장 많았던 10개 전공</h2>
				지난 10년동안 경북대학교 신입생 경쟁률은 증가하는 추세입니다.
				<span id="blue">2019학년도 <span id="P1">정원내</span> 신입생 경쟁률은 11.1 : 1</span>입니다.
				지원자 중 최저통과인원이 다소 적어 실질경쟁률은 훨씬 아래에 머물러 있습니다.
			</div>
			<div id="chartdiv1-2" class="chartdiv"> 그래프 1-2</div>
			<br>


			<div id="summaryBox" style="font-size: 15px">
				<b>이 데이터를 여기에서 다운로드하십시오</b> (최종 업데이트 날짜 : 2019년 O월 O일)<br>

				<b>출처 및 방법론</b><br>
				- 이 대시보드에 표시된 가장 최근 연도의 데이터는 해당 지원주기가 끝날 때까지(당해년도의 3월초부터 이듬해 2월말) 예비적인 것으로 간주해야합니다.<br>

				<b>사용 가능한 다른 데이터에 대한 참고사항</b><br>
				- 경북대학교 입학정보 홈페이지에서는 학부 입학 전형 일정 및 절차, 선발기준 및 방법에 대한 광범위한 정보를 제공합니다.<br>
				- 경북대학교 입학정보 홈페이지에서는 2020년도 경북대학교 대학입학전형 안내 동영상을 다음
				링크(https://www.youtube.com/watch?v=xuArJ6qPbMM&feature=youtu.be)에서 제공합니다.<br>

				<br><br>
			</div>

		</div>

		<div class="bottomframe">
			<div class="inbottomframe"></div>
			<div class="inbottomframe"></div>
			<div class="inbottomframe">
				<a href="#">개인정보처리방침</a>
				<a href="#">　이메일 무단수집거부</a>
				<br><br>
				<span class="white">대구광역시 북구 대학로 80 경북대학교 | 053-950-2963</span>
				<br>
				<span class="white">Copyright(c) Kyungpook National University. All rights reserved.</span>

			</div>
		</div>

		<script>
			// years1();
			// years2();
			// function Change() {
			// 	var temp = document.getElementById("T1")
			// 	var Target1 = document.getElementById("P1")
			// 	var Target2 = document.getElementById("P2")
			// 	if (temp.checked == true) {
			// 		Target1.innerHTML = "전체"
			// 		Target2.innerHTML = "전체"
			// 	}
			// 	temp = document.getElementById("T2")
			// 	if (temp.checked == true) {
			// 		Target1.innerHTML = "정원내"
			// 		Target2.innerHTML = "정원내"
			// 	}

			// 	temp = document.getElementById("T3")
			// 	if (temp.checked == true) {
			// 		Target1.innerHTML = "정원외"
			// 		Target2.innerHTML = "정원외"
			// 	}

			// }
		</script>


		<script>

			var path = "../../json/3/Top10Bachelor.json";
			loadJSON(path, function (data){
				genDataForAllInOne(data);
			});
		</script>

	</body>

	</html>