<!DOCUTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>경북대학교 IR센터</title>

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script src="https://d3js.org/d3.v4.min.js"></script>
	
	

</head>

<style type="text/css">
    @import url('../../../css/output_default.css');
    #chart {
        text-align: center;
        margin: auto;
    }
    .labels {
        text-anchor: middle;
    }
</style>

<body>
    <div class="box1" id="wrapper">
        <form class>
            <br>
            <a href="https://www.knu.ac.kr" target="_blank">
                <b>경북대학교 홈페이지</b>
                <a href="../../첫화면.html"><b>| 경북대학교 IR센터</a></b>
                <!--<a href = "로그인 화면.html">*/-->
                <div class="loginBox">
                    <a href="첫화면.html">로그인　|　</a>
                    <input type="text" value="" placeholder="Search this site">
                    <input type="button" value="검색">
                </div>
        </form>
    </div>


    <div class="bodyBox">


        <div id="titleBox">
            <span id="titleFont"><b>100명의 학부생</b></span><br><br>
            만약 캠퍼스에 100명의 학부생만 있다면, 그 중 여자는 몇 명일까요? 몇 명의 학생이 조기졸업을 했을까요?<br>
            <br>아래 차트는 경북대학교 캠퍼스 내에 학부생이 100명만 있다고 가정한 후, 각 특성 내에 있는 학생들의 분포를 나타냅니다.<br>
            차트 아래의 버튼을 클릭하여 다양한 정보들을 확인해보세요.
            <br>
        </div>

    </div>


    <div id="TOP">
        <center>
		<div id="chart"></div>
		<form>
		<div id = "btn-div">
		<input type = "button" style = "width: 130px; height: 30px; margin : 10px" id = "여자" value = "여자" onclick="onClick(this.id)">
		<input type = "button" style = "width:130; height: 30px; margin : 10px" id = "거주지" value = "거주지(대구, 경북)" onclick="onClick(this.id)">
		<input type = "button" style = "width: 130px; height: 30px; margin : 10px" id = "조기졸업" value = "조기졸업" onclick="onClick(this.id)"><br>
		<input type = "button" style = "width: 130px; height: 30px; margin : 10px" id = "남자" value = "남자" onclick="onClick(this.id)">
		<input type = "button" style = "width: 130px; height: 30px; margin : 10px" id = "거주지2" value = "거주지(기타)" onclick="onClick(this.id)">
		<input type = "button" style = "width:130; height: 30px; margin : 10px" id = "복수전공" value = "복수전공 이수 졸업" onclick="onClick(this.id)"><br>
		<input type = "button" style = "width: 130px; height: 30px; margin : 10px; opacity: 0" value = "none">
		<input type = "button" style = "width: 130px; height: 30px; margin : 10px; opacity: 0" value = "none">
		<input type = "button" style = "width:130; height: 30px; margin : 10px" id = "부전공" value = "부전공 이수 졸업" onclick="onClick(this.id)"><br>
		<input type = "button" style = "width: 130px; height: 30px; margin : 10px; opacity: 0" value = "none">
		<input type = "button" style = "width: 130px; height: 30px; margin : 10px; opacity: 0" value = "none">
		<input type = "button" style = "width: 130px; height: 30px; margin : 10px" id = "대학원진학" value = "대학원진학" onclick="onClick(this.id)">
		</div>
		</form>
		<script src="../../../js/data.js"></script>
        <script src="../../../js/100_student.js"></script>
        </center>
		
		
		
		

        <div id="summaryBox" style="font-size: 15px">
            <b>이 데이터를 여기에서 다운로드하십시오</b> (최종 업데이트 날짜 : 2019년 O월 O일)<br>

            <b>출처 및 방법론</b><br>
            - 이 대시보드에 표시된 가장 최근 연도의 데이터는 해당 지원주기가 끝날 때까지(당해년도의 3월초부터 이듬해 2월말) 예비적인 것으로 간주해야합니다.<br>

            <b>사용 가능한 다른 데이터에 대한 참고사항</b><br>
            - 경북대학교 입학정보 홈페이지에서는 학부 입학 전형 일정 및 절차, 선발기준 및 방법에 대한 광범위한 정보를 제공합니다.<br>
            - 경북대학교 입학정보 홈페이지에서는 2020년도 경북대학교 대학입학전형 안내 동영상을 다음 링크(https://www.youtube.com/watch?v=xuArJ6qPbMM&feature=youtu.be)에서 제공합니다.<br>

            <br><br>
        </div>

    </div>

    <div class="bottomframe">
        <div class="inbottomframe"></div>
        <div class="inbottomframe"></div>
        <div class="inbottomframe">
            <a href="#">개인정보처리방침</a>
            <a href="#">　이메일 무단수집거부</a>
            <br><br>
            <span class="white">대구광역시 북구 대학로 80 경북대학교 | 053-950-2963</span>
            <br>
            <span class="white">Copyright(c) Kyungpook National University. All rights reserved.</span>

        </div>
    </div>

</body>

</html>
