<!-- Styles -->
<!DOCUTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>XY 버블차트</title>
        <style>
            #chartdiv {
                width: 100%;
                height: 500px;
            }
        </style>

        <!-- Resources -->
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="../../js/등록/XY버블차트.js"></script>
    </head>


    <body>

        <!-- Chart code -->
        <script>
            drawChart();
        </script>

        <!-- HTML -->
        <div id="chartdiv"></div>
    </body>

    </html>