<!DOCUTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="../..//js/등록/직업설문조사2_컬럼그래프.js"></script>

    </head>

    <body>
        <script>
            drawChart();
        </script>
        <!-- <div id="chartdiv"></div> -->
        <div id="chartdiv" style="width: 600px; height:400px; margin-left:250px; margin-top:250px"></div>

    </body>

    </html>