<!DOCUTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>경북대학교 IR센터</title>

        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-queue/2.0.3/d3-queue.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="../../../js/복수전공.js"></script>
        <!-- <script src="../../../js/등록/복수전공/multidegree.js"></script> -->
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

        <style>
            .row {
                font-size: 12px;
            }

            .column {
                font-size: 12px;
            }
        </style>
    </head>

    <style type="text/css">
        @import url('../../../css/output_default.css');
    </style>

    <body>
        <div class="box1" id="wrapper">
            <form class>
                <br>
                <a href="https://www.knu.ac.kr" target="_blank">
                    <b>경북대학교 홈페이지</b>
                    <a href="../../첫화면.html"><b>| 경북대학교 IR센터</a></b>
                    <!--<a href = "로그인 화면.html">*/-->
                    <div class="loginBox">
                        <a href="첫화면.html">로그인　|　</a>
                        <input type="text" value="" placeholder="Search this site">
                        <input type="button" value="검색">
                    </div>
            </form>
        </div>

        <a href="../등록.html" style="float: right; margin: 3%; color: black;">이전 페이지로</a><br>


        <div class="bodyBox">


            <div id="titleBox" style = "margin-right: 30%">
                <span id="titleFont"><b>복수전공</b></span>
                <br><br>

                아래 차트는 <span id = "blue">2019학년도 1학기 학생들의 복수전공 조합</span>을 나타냅니다. 경북대학교 복수전공은 학생이 재학 중 2개 이상의 학과(부·전공)를 이수하고 졸업을 인정받는
                것입니다.<br><br>

                행렬의 측면과 상단은 학과 이름순으로 나열됩니다. 셀 위로 마우스를 가져가면 해당하는 학과에 복수전공을 한 학생의 수가 나타납니다. 셀 색상은 본전공 학과 계열과 타전공 학과 계열의
                동일여부, 분류계열에 따라 달라집니다. 범례에 나타난 인문사회, 자연과학, 공학, 예체능 색상을 가진 셀은 같은 계열로 복수전공 했음을 의미합니다. 또한, 셀 색상이 어두울수록 복수전공한 학생의
                수가 많음을 의미합니다.<br><br>

                예를 들어, 2019학년도 1학기 가정관리학과 학생들은 공업교육과, 과학교육학부 지구과학교육전공, 노어문학과, 보건학과, 수의학과, 식품공학부 식품응용공학전공, 약학과,
                일어일문학과, 한문학과에서 복수전공을 하고 있습니다. 가정관리학과와 과학교육학부 지구과학교육전공에서 복수전공한 조합은 동일한 인문사회계열로 주황색으로 나타납니다. 또한, 가정관리학과와
                노어노문학과에서 복수전공한 학생의 수는 12명입니다. 가정관리학과와 약학과에서 복수전공한 학생의 수, 6명보다 많으므로 셀 색상이 더 어둡게 표현됩니다.<br><br>

                이제 전공을 <span id = "blue">계열별로 정렬</span>해보세요. <span id = "blue">같은 색의 전공은 다른 색의 전공보다 복수전공할 가능성이 높습니다.</span><br><br>

                이제 전공을 <span id = "blue">빈도순으로 정렬</span>해보세요. 복수전공 조합 수가 가장 많은 셀이 왼쪽 상단에 표시됩니다. <span id = "blue">2019학년도 1학기, 복수전공한 학생들의 비중이 가정교육과에서 가장 높고, 컴퓨터학부 전공, 생명과학부 생명공학전공, 간호학과, 불어불문학과 순으로 높습니다.</span><br>
            </div>



        </div>



        <div id="TOP">


            <div class="legend" id="gotop" style="left:80%; top :70%">


                <!-- 
                //HS: Humanities and Social Sciences
                //NS: Natural Science
                //EN: ENgineering
                //AMP: Art, Music, Physical 
                //DD: different divisions
                -->


                <div id="colors">
                    <span id="color_hs" value="#FE4459" style="color:#FE4459; font-size: 20px;">■ </span>인문사회<br>
                    <span id="color_ns" value="#E8A343" style="color:#E8A343; font-size: 20px;">■ </span>자연과학<br>
                    <span id="color_en" value="#FCFF57" style="color:#FCFF57; font-size: 20px;">■ </span>공학<br>
                    <span id="color_amp" value="#43E884" style="color:#43E884; font-size: 20px;">■ </span>예체능<br>
                    <span id="color_dd" value="#52A1FF" style="color:#52A1FF; font-size: 20px;">■ </span>타계열<br><br>
                </div>

                <!-- 
                    sel_ord: select, ordered by what
                    sel_sbs; select, search by semester
                 -->
                <div>

                    <span style="font-size: 20px"><b>정렬 조건</b></span><br>
                    <select name="menu" id="order" style="width : 200px; height: 30px">
                        <option value="name" selected="selected">전공이름순</option>
                        <option value="group">계열별</option>
                        <option value="count">빈도순</option>
                    </select><br><br>

                    <span style="font-size: 20px"><b>학기별 검색</b></span><br>
                    <select name="menu" id="termyear" style="width : 200px; height: 30px">
                        <option value="2019 2" selected>2019학년도 2학기</option>
                        <option value="2019 1">2019학년도 1학기</option>
                        <option value="2018 2">2018학년도 2학기</option>
                        <option value="2018 1">2018학년도 1학기</option>
                        <option value="2017 2">2017학년도 2학기</option>
                        <option value="2017 1">2017학년도 1학기</option>
                        <option value="2016 2">2016학년도 2학기</option>
                        <option value="2016 1">2016학년도 1학기</option>
                        <option value="2015 2">2015학년도 2학기</option>
                        <option value="2015 1">2015학년도 1학기</option>
                        <option value="2014 2">2014학년도 2학기</option>
                        <option value="2014 1">2014학년도 1학기</option>
                        <option value="2013 2">2013학년도 2학기</option>
                        <option value="2013 1">2013학년도 1학기</option>
                        <option value="2012 2">2012학년도 2학기</option>
                        <option value="2012 1">2012학년도 1학기</option>
                        <option value="2011 2">2011학년도 2학기</option>
                        <option value="2011 1">2011학년도 1학기</option>
                        <option value="2010 2">2010학년도 2학기</option>
                        <option value="2010 1">2010학년도 1학기</option>
                    </select><br><br>

                </div>



            </div>



            <script>
                var currentPosition = parseInt($("#gotop").css("top"));
                $(window).scroll(function () {
                    var position = $(window).scrollTop();
                    if (position > 500)
                        $("#gotop").stop().animate({ "top": position + currentPosition - 250 + "px" }, 1000);
                    else if (position < 300)
                        $("#gotop").stop().animate({ "top": position + currentPosition + 200 + "px" }, 1000);
                    else
                        $("#gotop").stop().animate({ "top": position + currentPosition - 100 + "px" }, 1000);
                });

            </script>
            <div id="chartdiv" class="chart" style="height: 1000px; width: 1000px"></div>

            <div id="titleBox" style = "margin-right: 30%">
            
                아래 차트는 2019학년도 1학기 경북대학교 모든 학과의 복수전공 조합을 나타냅니다. <span id = "blue">주황색 테두리로 표시된 영역은 복수전공 조합이 많은 50개 학과를 나타내며,</span> 위 차트에서 표시된 복수전공 주요 조합을 반영합니다.

            </div>
            <div id="chartdiv2" class="chart" style="height: 1000px; width: 1000px"></div>



            <div id="summaryBox" style="font-size: 15px">
                <b>이 데이터를 여기에서 다운로드하십시오</b> (최종 업데이트 날짜 : 2019년 O월 O일)<br>

                <b>출처 및 방법론</b><br>
                - 이 대시보드에 표시된 가장 최근 연도의 데이터는 해당 지원주기가 끝날 때까지(당해년도의 3월초부터 이듬해 2월말) 예비적인 것으로 간주해야합니다.<br>

                <b>사용 가능한 다른 데이터에 대한 참고사항</b><br>
                - 경북대학교 입학정보 홈페이지에서는 학부 입학 전형 일정 및 절차, 선발기준 및 방법에 대한 광범위한 정보를 제공합니다.<br>
                - 경북대학교 입학정보 홈페이지에서는 2020년도 경북대학교 대학입학전형 안내 동영상을 다음
                링크(https://www.youtube.com/watch?v=xuArJ6qPbMM&feature=youtu.be)에서 제공합니다.<br>

                <br><br>
            </div>

        </div>

        <div class="bottomframe">
            <div class="inbottomframe"></div>
            <div class="inbottomframe"></div>
            <div class="inbottomframe">
                <a href="#">개인정보처리방침</a>
                <a href="#">　이메일 무단수집거부</a>
                <br><br>
                <span class="white">대구광역시 북구 대학로 80 경북대학교 | 053-950-2963</span>
                <br>
                <span class="white">Copyright(c) Kyungpook National University. All rights reserved.</span>

            </div>
        </div>

        <script>init()</script>

    </body>

    </html>