<html>

<head>
	<meta charset="utf-8">
	<title>경북대학교 IR센터</title>

	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

</head>

<style type="text/css">
	@import url('../../css/output_default.css');
	@import url('../../css/main_default.css');
</style>

<body>
	<div class="box1" id="wrapper">
		<form class>
			<br>
			<a href="https://www.knu.ac.kr" target="_blank"><b>경북대학교 홈페이지</b>
				<a href="첫화면.html"><b>| 경북대학교 IR센터</a></b>
				<!--<a href = "로그인 화면.html">*/-->
				<div class="loginBox">
					<a href="../첫화면.html">로그인　|　</a>
					<input type="text" value="" placeholder="Search this site">
					<input type="button" value="검색">
				</div>
		</form>
	</div>


	<div class="titleBox">
		<div class="titleNameBox">
			<span style="font-size:55">
				<span style="color:black">
					경북대학교 IR센터
				</span>
				<!--<span class = "white"><b>IR센터</b></span>-->
			</span>
		</div>

		<ul id="box2">
			<li><a href="첫화면.html">홈으로</a>
			</li>

			<li><a href="#">센터 소개</a>
				<ul>
					<li>인사말</li>
					<li>설립목적</li>
					<li>주요사업</li>
					<li>조직현황</li>
					<li>전화번호/오시는길</li>
				</ul>
			</li>

			<li><a href="#">대학 현황</a>
				<ul>
					<li><a href="../대학현황.html">대학현황통계</li></a>
					<li>우리 경북대</li>
				</ul>
			</li>

			<li><a href="#">연구보고서</a>
				<ul>
					<li>설문조사</li>
					<li>통계연보</li>
					<li>기타</li>
				</ul>
			</li>

			<li><a href="#">관련 사이트</a>
			</li>

			<li><a href="#">게시판</a>
				<ul>
					<li>공지사항</li>
					<li>성과알림</li>
					<li>자료실</li>
					<li>Q&A</li>
				</ul>
			</li>
		</ul>
	</div>

	<center>
		<div id="tableBox">
			<table cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td style="height:50px">
							<a href="../전체/전체.html"><span id="black">전체</span></a>
						</td>
						<td style="height:50px">
							<a href="../입학/입학.html"><span id="black">입학</span></a>
						</td>
						<td style="height:50px">
							<a href="../등록/등록.html">
								<span id="black">
									등록
								</span>
							</a>
						</td>
						<td style="height:50px">
							<a href="../교수진 및 직원/교수진 및 직원.html"><span id="black">교수진 및 직원</span></a>
						</td>

						<td style="height:50px">
							<a href="#"><span id="black">재정 보조</span></a>
						</td>
					</tr>
					<tr>
						<td style="height:50px">
							<a href="#"><span id="black">교수</span></a>
						</td>
						<td style="height:50px">
							<a href="#"><span id="black">지도</span></a>
						</td>
						<td style="height:50px">
							<a href="../성과/성과.html">
								<span id="black">
									성과
								</span>
							</a>
						</td>
						<td style="height:50px">
							<a href="../연구/연구.html"><span id="black">연구</span></a>
						</td>

						<td style="height:50px; background-color : #eeeeee; ">
							<a href="#"><span id="black">학생체험</span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<br>

		<div id="tableBox">
			<table cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td><a href="학생활동/학생활동_1_요약.html"><span id="black">학생활동</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>






		<br>

		<br><br>


	</center>


	<div class="bottomframe">
		<div class="inbottomframe"></div>
		<div class="inbottomframe"></div>
		<div class="inbottomframe">
			<a href="첫화면.html">개인정보처리방침</a>
			<a href="첫화면.html">　이메일 무단수집거부</a>
			<br><br>
			<span class="white">대구광역시 북구 대학로 80 경북대학교 | 053-950-2963</span>
			<br>
			<span class="white">Copyright(c) Kyungpook National University. All rights reserved.</span>

		</div>
	</div>



</body>

</html>