<html>

<head>
    <meta charset="utf-8">
    <title>경북대학교 IR센터</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="../../../js/js_explore장학생수.js"></script>
    <script src="../../../js/js_explore재학생 1인당 장학금.js"></script>
</head>

<style type="text/css">
    @import url('../../../css/output_default.css');

    .chartdiv11 {
        width: 470px;
        height: 450px;
        padding-bottom: 40px;
    }

    .chartdiv22 {
        width: 35%;
        height: 50%;
        padding-bottom: 40px;
        margin-left: 40%;
        background-color: navy;
    }

    #testVal {
        visibility: hidden;
        position: absolute;
        height: 180px;
        overflow-y: scroll;
        border: 1px solid gray;
        background: white;
    }
</style>

<body>
    <div class="box1" id="wrapper">
        <form class>
            <br>
            <a href="https://www.knu.ac.kr" target="_blank">
                <b>경북대학교 홈페이지</b>
                <a href="../../첫화면.html"><b>| 경북대학교 IR센터</a></b>
                <!--<a href = "로그인 화면.html">*/-->
                <div class="loginBox">
                    <a href="#">로그인　|　</a>
                    <input type="text" value="" placeholder="Search this site">
                    <input type="button" value="검색">
                </div>
        </form>
    </div>


    <div class="bodyBox">


        <div id="titleBox">
            <span id="titleFont"><b>장학금</b></span>
            <br><br>
            추가적인 정보를 보기 위해서 각 대시보드 페이지 위에 나타나는 메뉴박스들을 클릭하세요.<br>
        </div>

        <center>
            <div id="tableBox">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="border-style: none; font-size : 30px">
                                <a href="장학금_4_지급구성비율.html">
                                    <span id="black">◀</span>
                                </a>
                            </td>
                            <td>
                                <a href="장학금_1_요약.html"><span id="black">요약</span></a>
                            </td>
                            <td>
                                <a href="장학금_2_지급금액.html"><span id="black">장학금 지급 금액</span></a>
                            </td>
                            <td>
                                <a href="장학금_3_수혜율.html"><span id="black">장학금 수혜율</span></a>
                            </td>
                            <td>
                                <a href="장학금_4_지급구성비율.html"><span id="black">지급 구성 비율</span></a>
                            </td>
                            <td style="background-color : #eeeeee">
                                <a href="장학금_5_Explore.html"><span id="black">Explore the data</span></a>
                            </td>
                            <td style="border-style: none; font-size : 30px">
                                <a href="장학금_1_요약.html">
                                    <span style="color: black">▶</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </center>
        <hr style="border-color: black">

    </div>


    <div id="TOP">
        <div class="legend" id="gotop" style="left:80%; top :40%">

            <span style="font-size: 20px"><b>학기별 검색</b></span><br>
            <select name="menu2" id="sem" onchange = "check()" style="width : 200px; height: 30px">
                <option value="2019 2nd" selected>2019학년도 2학기</option>
                <option value="2019 1st">2019학년도 1학기</option>
                <option value="2018 2nd">2018학년도 2학기</option>
                <option value="2018 1st">2018학년도 1학기</option>
                <option value="2017 2nd">2017학년도 2학기</option>
                <option value="2017 1st">2017학년도 1학기</option>
                <option value="2016 2nd">2016학년도 2학기</option>
                <option value="2016 1st">2016학년도 1학기</option>
                <option value="2015 2nd">2015학년도 2학기</option>
                <option value="2015 1st">2015학년도 1학기</option>
                <option value="2014 2nd">2014학년도 2학기</option>
                <option value="2014 1st">2014학년도 1학기</option>
                <option value="2013 2nd">2013학년도 2학기</option>
                <option value="2013 1st">2013학년도 1학기</option>
                <option value="2012 2nd">2012학년도 2학기</option>
                <option value="2012 1st">2012학년도 1학기</option>
                <option value="2011 2nd">2011학년도 2학기</option>
                <option value="2011 1st">2011학년도 1학기</option>
                <option value="2010 2nd">2010학년도 2학기</option>
                <option value="2010 1st">2010학년도 1학기</option>
            </select><br><br>


            <span style="font-size: 20px"><b>대학(원)별 검색</b></span>
            <br>
            <select name="menu"id = "affiliation" onchange="check()" style="width : 200px; height: 30px">
                <option value="전체" selected="selected">(전체)</option>
                <option value="간호대학">간호대학</option>
                <option value="경상대학">경상대학</option>
                <option value="공과대학">공과대학</option>
                <option value="과학기술대학">과학기술대학</option>
                <option value="농업생명과학대학">농업생명과학대학</option>
                <option value="법과대학">법과대학</option>
                <option value="사회과학대학">사회과학대학</option>
                <option value="생태환경대학">생태환경대학</option>
                <option value="생활과학대학">생활과학대학</option>
                <option value="수의과대학">수의과대학</option>
                <option value="생활과학대학">생활과학대학</option>
                <option value="간호대학">간호대학</option>
                <option value="약학대학">약학대학</option>
                <option value="예술대학">예술대학</option>
                <option value="의과대학">의과대학</option>
                <option value="인문대학">인문대학</option>
                <option value="자연과학대학">자연과학대학</option>
                <option value="치과대학">치과대학</option>
                <option value="IT대학">IT대학</option>
                <option value="단과대구분없음">단과대구분없음</option>
            </select>
            <br><br>
            <span style="font-size: 20px"><b>장학금 종류 검색</b></span><br>

            <div
                style="width : 200px; height: 30px; border-style: solid; border-width: 0.5px; border-color:darkgray; padding: 1px">
                <span id="selectBox1" name="selectBox1" onClick="choiceSelectBox(this);" style="font-size: 15px">
                    (전체)&nbsp;
                    <span style="font-size: 10px">　　　　　　　　　　　　　　&nbsp;▼</span>
                </span>
                <div id="testVal" class="testVal">
                    <input type="checkbox" name="sch_type" checked="checked" onclick="check()" value="성적우수">성적우수장학금<br>
                    <input type="checkbox" name="sch_type" checked="checked" onclick="check()" value="저소득층">저소득층장학금<br>
                    <input type="checkbox" name="sch_type" checked="checked" onclick="check()" value="근로">근로장학금<br>
                    <input type="checkbox" name="sch_type" checked="checked" onclick="check()" value="교직원">교직원장학금<br>
                    <!-- <input type="checkbox" name="" id="" checked="checked" onclick="">외국인전형<br> -->
                    <input type="checkbox" name="sch_type" checked="checked" onclick="check()" value="기타">기타<br>
                    <input type="checkbox" name="sch_type" checked="checked" onclick="check()" value="국가">국가<br>
                    <input type="checkbox" name="sch_type" checked="checked" onclick="check()" value="지방자치단체">지방자치단체<br>
                    <input type="checkbox" name="sch_type" checked="checked" onclick="check()" value="사설 및 기타">사설 및 기타<br>
                </div>
            </div>

        </div>
        <script>
            var currentPosition = parseInt($("#gotop").css("top"));
            $(window).scroll(function () {
                var position = $(window).scrollTop();

                if (position > 750)
                    $("#gotop").stop().animate({ "top": position + currentPosition - 300 + "px" }, 1000);
                else if (position < 300)
                    $("#gotop").stop().animate({ "top": position + currentPosition + 40 + "px" }, 1000);
                else
                    $("#gotop").stop().animate({ "top": position + currentPosition + "px" }, 1000);
            });

            function choiceSelectBox(obj) {
                var nWidth = parseInt(obj.offsetWidth);
                var nHeight = parseInt(obj.offsetHeight);
                var nLeft = obj.offsetLeft;
                var nTop = obj.offsetTop + obj.offsetHeight + 2;

                if (navigator.appName == "Microsoft Internet Explorer") {
                    nLeft += obj.offsetParent.offsetParent.offsetLeft + obj.offsetParent.offsetLeft;
                    nTop += obj.offsetParent.offsetParent.offsetTop + obj.offsetParent.offsetTop;
                }

                if ($("#testVal").css("visibility") == "hidden") {

                    $("#testVal").css("left", nLeft);
                    $("#testVal").css("top", nTop);
                    $("#testVal").css("padding-left", "0px");
                    $("#testVal").css("width", nWidth);
                    $("#testVal").css("visibility", "visible");

                } else {
                    $("#testVal").css("visibility", "hidden");
                }
            }

        </script>

        <a href="../등록.html"><span id="black">이전 메뉴로 이동</a></span>
        <div id="summaryBox">
        </div>
        <div id="unitBox">
        </div>
        <div class="chartdiv" id="chartdiv2" style="width: 80%; height:1500px;"></div>

        <!--------------------------------------------->

        <div id="summaryBox">
            <h2>재학생 1인당 장학금</h2>
        </div>
        <div id="unitBox">
            (단위 : 천원)
        </div>
        <div class="chartdiv" id="chartdiv1"></div>

        <br>



        <div id="summaryBox" style="font-size: 15px">
            <b>이 데이터를 여기에서 다운로드하십시오</b> (최종 업데이트 날짜 : 2019년 O월 O일)<br>

            <b>출처 및 방법론</b><br>
            - 이 대시보드에 표시된 가장 최근 연도의 데이터는 해당 지원주기가 끝날 때까지(당해년도의 3월초부터 이듬해 2월말) 예비적인 것으로 간주해야합니다.<br>

            <b>사용 가능한 다른 데이터에 대한 참고사항</b><br>
            - 경북대학교 입학정보 홈페이지에서는 학부 입학 전형 일정 및 절차, 선발기준 및 방법에 대한 광범위한 정보를 제공합니다.<br>
            - 경북대학교 입학정보 홈페이지에서는 2020년도 경북대학교 대학입학전형 안내 동영상을 다음
            링크(https://www.youtube.com/watch?v=xuArJ6qPbMM&feature=youtu.be)에서 제공합니다.<br>

            <br><br>
        </div>

    </div>

    <div class="bottomframe">
        <div class="inbottomframe"></div>
        <div class="inbottomframe"></div>
        <div class="inbottomframe">
            <a href="#">개인정보처리방침</a>
            <a href="#">　이메일 무단수집거부</a>
            <br><br>
            <span class="white">대구광역시 북구 대학로 80 경북대학교 | 053-950-2963</span>
            <br>
            <span class="white">Copyright(c) Kyungpook National University. All rights reserved.</span>

        </div>
    </div>

    <script>
        var rad_sem = document.getElementById("sem")
        var target = document.getElementById("affiliation")
        var cb_type = document.getElementsByName("sch_type")

        function check() {
            var semester_selected = rad_sem.options[rad_sem.selectedIndex].value.split(' ')
            var year = semester_selected[0]
            var sem = semester_selected[1]

            var affiliation_selected = target.options[target.selectedIndex].text

            var type_selected = []
            for (var i = 0; i < cb_type.length; i++) {
                if (cb_type[i].checked) {
                    type_selected.push(cb_type[i].value)
                }
            }

            draw_graph(year,sem, affiliation_selected, type_selected)
            draw_graph2(sem, affiliation_selected, type_selected)
        }

        check()
    </script>

</body>

</html>